@font-face {
    src: url(/css/fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
    font-family: "catamaran";
    font-weight: 100;
}

@font-face {
    src: url(/css/fonts/Lato/Lato-Regular.ttf);
    font-family: "lato";
    font-weight: 400;
}

@font-face {
    src: url(/css/fonts/Mulish/Mulish-VariableFont_wght.ttf);
    font-family: "muli";
    font-weight: 400;
}

.start-page {
    background-image: url(/css/img/bg-pattern.png), linear-gradient(to right, rgb(218, 36, 49), rgb(122, 67, 151));
}

.menu {
    font-size: 12px;
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.nav-link {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.nav-link:hover {
    color: #fdcc52 !important;
}

.navbar-brand {
    font-family: "catamaran";
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 36px;
    color: rgb(253, 205, 85) !important;
}

.navbar-brand:hover {
    color: white !important;
}

.navbar-toggler {
    padding-top: 0;
    padding: 1px 10px 8px 10px;
    margin-right: 36px;
}

.menu {
    color: black;
    font-family: "catamaran";
}

.card-title {
    letter-spacing: 0px;
    font-size: 31px;
}

.card-img {
    width: 310px;
}

h2 {
    font-family: "catamaran";
    font-size: 38px
}

/*Discover-section */

.download-page {
    background-color: rgb(252, 201, 73);
}

.discover-headline {
    font-family: "catamaran";
    font-size: 52px;
    font-weight: 500;
}

.discover-p {
    font-family: "muli";
    font-size: 18px;
}

.badges {
    width: 200px;
}

/*Features-section*/

.features-headline {
    font-family: "catamaran";
    font-size: 50px;
}

.features-p {
    font-family: "muli";
    font-size: 17px;
}

.features-img {
    width: 310px;
}

.feature-icons {
    color: rgb(167, 52, 103);
    font-size: 80px;
}

.embed-headline {
    font-family: "catamaran";
    letter-spacing: 1px;
    font-size: 31px;
}

.embed-p {
    font-family: "muli";
    font-size: large;
    line-height: 1.5rem;
    color: rgb(116, 120, 130);
}

/*Contact-section*/

.contact-page {
    background-image: url(/css/img/bg-cta.jpg);
    width: 100%;
    background-size: 155%;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-headline {
    font-family: "catamaran";
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
}

.my-btn {
    background-color: transparent;
    border: 1px solid;
    border-radius: 30px;
    color: white;
    padding: 14px 42px 14px 42px;
    letter-spacing: 2px;
    font-family: "lato";
    font-size: 11px;
    transition: background, border 300ms;
}

.my-btn:hover {
    background: #fdcc52;
    border-color: #fdcc52;
}

/*Social media section*/

.social-media-page {
    background-color: rgb(253, 199, 65);
}

.social-headline {
    font-family: "catamaran";
    font-size: 50px;
}

.heart-icon {
    color: rgb(221, 76, 57);
}

.social__icon--t {
    background-color: rgb(29, 161, 243);
    opacity: 90%;
    vertical-align: middle;
    font-size: 33px;
    line-height: 48px;
    padding: 14px 20px 15px 24px;
    border-radius: 100%;
    margin-right: 12px;
}

.social__icon--f {
    background-color: rgb(59, 89, 153);
    opacity: 90%;
    vertical-align: middle;
    font-size: 38px;
    line-height: 48px;
    padding: 14px 18px 15px 26px;
    border-radius: 100%;
    margin-right: 12px;
}

.social__icon--g {
    background-color: rgb(221, 76, 57);
    opacity: 90%;
    vertical-align: middle;
    font-size: 42px;
    line-height: 48px;
    padding: 14px 12px 15px 13px;
    border-radius: 100%;
}

.social__icon--g:hover {
    opacity: 100%;
}

.social__icon--f:hover {
    opacity: 100%;
}

.social__icon--t:hover {
    opacity: 100%;
}

.google-icon {
    color: white;
}

/*Footer*/

footer {
    background-color: rgb(34, 34, 34);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.copyright {
    font-size: 11.8px;
    font-family: "muli";
    color: rgb(98, 98, 98);
    margin-bottom: -0.05rem;
}

.modalButton-text {
    color: rgb(98, 98, 98);
    font-family: "muli";
    font-size: 11.8px
}

.modalButton-text:hover {
    color: #fdcc52;
}

@media screen and (min-width:768px) {
    .social-headline {
        font-size: 40px;
    }
    .contact-page {
        background-size: 120%;
    }
    .contact-headline {
        font-size: 58px;
    }
    .my-btn {
        font-size: 8px;
        padding: 12px 35px 12px 35px;
    }
    .features-headline {
        font-size: 40px;
    }
    .features-p {
        font-size: 13.5px;
    }
    .features-img {
        width: 230px;
    }
    .feature-icons {
        font-size: 60px;
    }
    .embed-headline {
        font-size: 22px;
    }
    .embed-p {
        font-size: 12px;
        line-height: 1.2rem;
    }
    .discover-p {
        font-size: 13px;
    }
    .badges {
        width: 140px;
    }
    .card-img {
        width: 230px;
    }
    .card-title {
        font-size: 34px;
    }
    .navbar {
        width: 58%;
        background-color: transparent !important;
    }
    .nav-link {
        color: rgb(217, 198, 229) !important;
    }
    .nav-link:hover {
        color: white !important;
    }
    .fixed-top.scrolled {
        background-color: #fff !important;
        transition: background-color 200ms linear;
    }
    .navbar.scrolled {
        width: 100%
    }
    .navbar-brand.scrolled {
        margin-left: 335px;
        color: rgb(69, 69, 69) !important;
    }
    .navbar-brand.scrolled:hover {
        color: #fdcc52 !important;
    }
    .navbar-nav.scrolled {
        margin-right: 299px;
    }
    .nav-link.scrolled {
        color: rgb(69, 69, 69) !important;
    }
    .nav-link.scrolled:hover {
        color: #fdcc52 !important;
    }
    /* .social__icon--t {
        font-size: 28px;
        height: 53px;
        line-height: 53px;
        padding: 10px 10px 60px 10px;
    }
    .social__icon--f {
        font-size: 28px;
        padding: 12px 18px 13px 22px;
    }
    .social__icon--g {
        font-size: 28px;
        padding: 12px 18px 13px 22px;
    } */
}