@font-face {
    src: url(/css/fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
    font-family: "catamaran";
    font-weight: 400;
}

@font-face {
    src: url(/css/fonts/Lato/Lato-Regular.ttf);
    font-family: "lato";
    font-weight: 400;
}

@font-face {
    src: url(/css/fonts/Mulish/Mulish-VariableFont_wght.ttf);
    font-family: "muli";
    font-weight: 400;
}

header {
    background-image: url(/css/img/bg-pattern.png), linear-gradient(to right, rgb(218, 36, 49), rgb(122, 67, 151));
}

a:hover {
    color: white !important;
}

.navbar-brand {
    color: rgb(234, 170, 73) !important;
}

.navbar-brand:hover {
    color: white;
}